<?xml version="1.0" encoding='utf-8'?>
<robot name="zimmer_gripper" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="zimmer_gripper" params="parent:='' ">

    <xacro:include
      filename="$(find zimmer_gripper_description)/urdf/zimmer_gripper.transmission.xacro" />
    <xacro:include filename="$(find zimmer_gripper_description)/urdf/zimmer_gripper.gazebo.xacro" />

    <joint name="gripper_joint" type="fixed">
      <parent link="${parent}" />
      <child link="zimmer_gripper_body" />
      <origin xyz="0 -0.039 0" rpy="0 1.5708 0" />
    </joint>

    <link name="zimmer_gripper_body">
      <inertial>
        <origin xyz="0 -0.039 0" rpy="0 1.5708 0" />
        <mass value="0.76" />
        <inertia ixx="0.0" ixy="0.0" ixz="0.0" iyy="0.0" iyz="0.0" izz="0.0" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find zimmer_gripper_description)/meshes/zimmer_hrc03_body.stl" />
        </geometry>
        <material name="">
          <color rgba="0.79216 0.81961 0.93333 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find zimmer_gripper_description)/meshes/zimmer_hrc03_body.stl" />
        </geometry>
      </collision>
    </link>

    <link name="zimmer_gripper_left_finger">

      <inertial>
        <origin rpy="0 0 0" xyz="0 0.01 0.02" />
        <mass value="0.09"/>
        <inertia ixx="0.000006" ixy="0.000005" ixz="0.000000"
                 iyy="0.000025" iyz="0.000000"
                 izz="0.000026" />
      </inertial>
      <visual>
        <origin xyz="0.00 0.00 0.00" rpy="0.00 0.00 0.00"/>
        <geometry>
          <mesh filename="file://$(find zimmer_gripper_description)/meshes/zimmer_hrc03_finger_left.stl" />
        </geometry>
        <material name="">
          <color rgba="0.79216 0.81961 0.93333 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0.00 0.00 0.00" rpy="0.00 0.00 0.00"/>
        <geometry>
          <mesh filename="file://$(find zimmer_gripper_description)/meshes/zimmer_hrc03_finger_left.stl" />
        </geometry>
      </collision>
    </link>

    <link name="zimmer_gripper_right_finger">
      <inertial>
        <origin rpy="0 0 0" xyz="0 0.01 0.02" />
        <mass value="0.09"/>
        <inertia ixx="0.000006" ixy="0.000005" ixz="0.000000"
                 iyy="0.000025" iyz="0.000000"
                 izz="0.000026" />
      </inertial>
      <visual>
        <origin xyz="0.00 0.00 0.00" rpy="0.00 0.00 0.00"/>
        <geometry>
          <mesh filename="file://$(find zimmer_gripper_description)/meshes/zimmer_hrc03_finger_right.stl" />
        </geometry>
        <material name="">
          <color rgba="0.79216 0.81961 0.93333 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0.00 0.00 0.00" rpy="0.00 0.00 0.00"/>
        <geometry>
          <mesh filename="file://$(find zimmer_gripper_description)/meshes/zimmer_hrc03_finger_right.stl" />
        </geometry>
      </collision>
    </link>

    <!-- <joint name="zimmer_finger_left" type="prismatic">
      <parent link="zimmer_gripper_body" />
      <child link="zimmer_gripper_left_finger" />
      <origin rpy="0 0 0" xyz="0 0 0" />
      <axis xyz="0 0 -1" />
      <limit effort="2000" lower="0.0" upper="0.016" velocity="0.2" />
    </joint>
    <xacro:insert_transmission name="zimmer_finger_left" />

    <joint name="zimmer_finger_right" type="prismatic">
      <parent link="zimmer_gripper_body" />
      <child link="zimmer_gripper_right_finger" />
      <origin rpy="0 0 0" xyz="0 0 0" />
      <axis xyz="0 0 1" />
      <mimic joint="zimmer_finger_left" multiplier="1" />
      <limit effort="2000" lower="0" upper="0.016" velocity="0.2" />
      <dynamics damping="0.1" friction="0.0" />
      <implicitSpringDamper>True</implicitSpringDamper>
    </joint> -->

    <joint name="zimmer_finger_left" type="fixed">
      <parent link="zimmer_gripper_body" />
      <child link="zimmer_gripper_left_finger" />
      <origin rpy="0 0 0" xyz="0 0 0" />
    </joint>

    <joint name="zimmer_finger_right" type="fixed">
      <parent link="zimmer_gripper_body" />
      <child link="zimmer_gripper_right_finger" />
      <origin rpy="0 0 0" xyz="0 0 0" />
    </joint>

    <xacro:mimic_joint_plugin_gazebo name_prefix="zimmer_finger_right"
      parent_joint="zimmer_finger_left"
      mimic_joint="zimmer_finger_right"
      has_pid="false"
      multiplier="1.0"
      max_effort="2000" />

    <joint name="connection_joint" type="fixed">
      <origin xyz="0 -0.128 0" rpy="0 0 0" />
      <parent link="zimmer_gripper_body" />
      <child link="zimmer_gripper_tcp" />
    </joint>

    <link name="zimmer_gripper_tcp" />

  </xacro:macro>
</robot>
