<?xml version="1.0" encoding="utf-8"?>
<robot name="zimmer_match" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="zimmer_match" params="parent:='' prefix:=''">

    <xacro:if value="${parent != ''}">
      <joint name="${prefix}zimmer_match_joint" type="fixed">
        <parent link="${parent}" />
        <child link="${prefix}zimmer_match_link" />
        <origin xyz="0 0 0" rpy="-${pi/2} 0  ${pi/2}" />
      </joint>
    </xacro:if>

    <link name="${prefix}zimmer_match_link">
      <inertial>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <mass value="0.32" />
        <inertia ixx="0.0" ixy="0.0" ixz="0.0"
          iyy="0.0" iyz="0.0"
          izz="0.0" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find zimmer_gripper_description)/meshes/zimmer_match.stl" />
        </geometry>
        <material name="">
          <color rgba="0.79216 0.81961 0.93333 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find zimmer_gripper_description)/meshes/zimmer_match.stl" />
        </geometry>
      </collision>
    </link>

  </xacro:macro>
</robot>
