<?xml version="1.0" encoding='utf-8'?>
<robot name="zimmer_gripper" xmlns:xacro="http://www.ros.org/wiki/xacro" >
  
  <xacro:include filename="$(find zimmer_gripper_description)/urdf/match.urdf.xacro"/>
  <xacro:include filename="$(find zimmer_gripper_description)/urdf/gripper.urdf.xacro"/>  

  <xacro:macro name="zimmer_gripper_macro" params="parent">

    <xacro:zimmer_match parent='${parent}'/>
    <xacro:zimmer_gripper parent='zimmer_match_link' />

    <gazebo>
      <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
        <robotNamespace>/</robotNamespace>
      </plugin>
    </gazebo>
  </xacro:macro>  

</robot>

