<?xml version="1.0" encoding='utf-8'?>
<robot name="zimmer_gripper" xmlns:xacro="http://www.ros.org/wiki/xacro" >
  
  <xacro:property name="J_PI" value="3.14159265359" />

  <xacro:include filename="$(find zimmer_gripper_description)/urdf/match.urdf.xacro"/>  
  <xacro:include filename="$(find zimmer_gripper_description)/urdf/gripper.urdf.xacro"/>  

  <link name="world" />
  <joint name="world_joint" type="fixed">
    <origin xyz="0 0 0" rpy="-${J_PI/2} 0 0"/>
    <parent link="world" />
    <child link="zimmer_match_link" />
  </joint>

  <xacro:zimmer_match parent=''/>
  <xacro:zimmer_gripper parent='zimmer_match_link' />

  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/</robotNamespace>
    </plugin>
  </gazebo>

</robot>
